<ngx-classwork-header [title]="title" [drawer]="drawer">


</ngx-classwork-header>
<ngx-classwork-default [person]="person1"></ngx-classwork-default>
<ngx-classwork-on-push  [person]="person1"></ngx-classwork-on-push>
<ngx-classwork-drawer (setDrawerControl)="setDrawer($event)">
  <!--<ngx-classwork-search-->
  <!--  [searchTerm]="text"-->
  <!--   (searchTermChange)="changeText($event)"></ngx-classwork-search>-->
  <ng-template #contentTmpl>
    <ngx-classwork-search [(searchTerm)]="text"></ngx-classwork-search>
    {{text}}
  </ng-template>

</ngx-classwork-drawer>
