.modal {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 999;
}

.modal.open {
  display: block;
}

.modal.open .content {
  background-color: white;
  width: 200px;
  margin: 15% auto;
}
